.App {
  text-align: center;
  background-color: #afffbb;
  height: 100vh;
  width: 100vw;
  font-family: "Noto Sans Mono", monospace;
  display: inline-block;
  vertical-align: middle;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wavingHand {
  width: 25%;
}

@media only screen and (max-width: 600px) {
  .wavingHand {
    width: 65%;
  }
}
